.greeting {
  font-weight: 600;
  font-style: italic;
  text-align: center;
  color: #00fff1;
}

/* Tablet Screen Size */
@media (min-width: 768px) {
  .greeting {
    max-width: 690px;
  }
}

/* Large Phone Screen Size */
@media (max-width: 425px) {
  .greeting {
    font-size: 4rem;
    width: 275px;
  }
}

@media (min-width: 426px) {
  .greeting {
    font-size: 5rem;
  }
}
